<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.my.springcloud.producer.dao.HumanInfoMapper">
    <select id="findAllHuman" resultType="HumanInfo">
        SELECT * from tc_human limit 10
    </select>
    <select id="getHumanInfo" parameterType="int" resultType="HumanInfo">
        select * from tc_human where human_id=#{humanID}
    </select>
    <select id = "validPassword" resultType="HumanInfo" >
        select * from tc_human where human_name like CONCAT('%',#{userName},'%') and password = #{password}
    </select>
</mapper>